*{
    padding: 0;
    margin:0;
}
body {
    
}
main {
    background-image: url(/images/banner.png);
    background-repeat: no-repeat;
    height: 55em;

}
.nav {
    display: flex;
    justify-content: center;
    margin-top: -34px;
    margin-left: 500px;
    font-size: 30px;
}
i {
    color: white;
    margin-right: 50px;
}
a {
    text-decoration: none;
    margin-right: 60px;
    color: white;
    font-family: verdana;
}
p {
    color: white;
}
.logo {
    height: 60px;
    margin-left: 4em;
    margin-top: 50px;
}
.men {
    margin-top: 70px;
    margin-left: 2.1em;
    font-size: 30px;
    animation: more 2s;
    position: absolute;
   bottom: 9em;
}
.running {
    color: indianred;
    font-size: 60px;
    font-family: verdana;
    margin-top: 40px;
    margin-left: 7em;
    animation: more 2s;
    position: absolute;
   bottom: 3em;
}
.plex {
 font-size: 70px;  
 font-family: verdana;
 margin-top: 190px;
 margin-left: 6em;
}
.lorem {
    margin-left: 14em;
    font-size: 30px;
    margin-top: 20px;
}
.o {
    border: 3px solid grey;
    width: 30px;
    margin-top: -130px;
    margin-bottom: 110px;
    margin-left: 2.3em;
    font-size: 30px;
    padding: 25px;
    border-radius: 40px;
}
.buy {
    margin-left: 17em;
    background-color: indianred;
    border: hidden;
    padding: 20px 60px;
    font-size: 25px;
    animation: buy 2s;
    position: absolute;
   bottom: -9em;
}
@keyframes buy {
    0% {
        bottom: -400%;
    }
    100% {
       top: (0);
    }
}
.boot {
    position: absolute;
    margin-top: -21em;
    height: 40em;
    margin-left: 67em;
    position: absolute;
    animation: boot 2s ;
    bottom: 0;
}
@keyframes boot {
    0% {
        bottom: -200%;
    }
    100% {
       top: (0);
    }
}
section {
    position: relative;
}
.more {
    background-color: white;
    color: indianred;
    margin-left: 28em;
    padding: 20px 60px;
    font-size: 25px;
    animation: more 2s;
    position: absolute;
   bottom: -9em;
}
@keyframes more {
    0% {
        bottom: -400%;
    }
    100% {
       top: (0%);
    }
}
h2 {
    margin-top: 130px;
    margin-left: 1.5em;
    font-family: verdana;
    font-size: 50px;
}
.our {
    margin-left: 2.5em;
    font-size: 30px;
    color: black;
}
div {
}
.first {
    margin-bottom: -120px;
    margin-left: 5em;
    border: 4px solid white;
    box-shadow: 0px 0px 10px 10px whitesmoke;
    margin-top: 50px;
    padding: 90px;
    width: 700px;
    padding-left: 60px;
    padding-bottom: 100px;
    padding-right: 10px;
    position: relative;
}
.second {
    box-shadow: 0px 0px 5px 5px whitesmoke;
    margin-top: -500px;
    margin-left: 600px;
    position: relative;
    width: 400px;
    padding: 90px;
    padding-left: 300px;
    padding-bottom: 100px;
    height: 450px;
}
.price1 {
    color: black;
    font-size: 40px;
    margin-top: -130px;
    position: relative;
    margin-left: 200px;
    font-family: verdana;
}
.price1::first-line {
    text-decoration: underline;
    font-family: verdana;
}
b {
    font-size: 40px;
    color: indianred;
}
.firststar {
    position: absolute;
    margin-left: 150px;
    height: 20px;
}
.secondstar {
    position:absolute;
    margin-left: 190px;
    height: 20px;
}
.thirdstar {
    position: absolute;
    margin-left: 230px;
    height: 20px;
}
.forthstar {
    margin-left: 270px;
    height: 20px;
}
.fifthstar {
    margin-left: 30px;
    height: 20px;
}