*{
    padding: 0;
    margin:0;
}
body {
    background-image: url(/images/banner.png);
}
header {
}
.nav {
    display: flex;
    justify-content: center;
    margin-top: -34px;
    margin-left: 500px;
    font-size: 30px;
}
i {
    color: white;
    margin-right: 50px;
}
a {
    text-decoration: none;
    margin-right: 60px;
    color: white;
    font-family: verdana;
}
.logo {
    height: 60px;
    margin-left: 4em;
    margin-top: 50px;
}
.men {
    margin-top: 70px;
    margin-left: 2.1em;
    font-size: 30px;
}
