*{
    padding: 0;
    margin:0;
}
body {
    overflow-x: hidden;
}
main {
    background-image: url(/images/banner.png);
    background-repeat: no-repeat;
    height: 55em;
}
.nav {
    display: flex;
    justify-content: center;
    margin-top: -34px;
    margin-left: 500px;
    font-size: 30px;
}
i {
    color: white;
    margin-right: 50px;
}
a {
    text-decoration: none;
    margin-right: 60px;
    color: white;
    font-family: verdana;
}
p {
    color: white;
}
.logo {
    height: 60px;
    margin-left: 4em;
    margin-top: 50px;
}
.men {
    margin-top: 70px;
    margin-left: 2.1em;
    font-size: 30px;
    animation: more 2s;
    position: absolute;
   bottom: 7em;
}
.running {
    color: indianred;
    font-size: 60px;
    font-family: verdana;
    margin-top: 40px;
    margin-left: 7em;
    animation: more 2s;
    position: absolute;
   bottom: 3em;
}
.plex {
 font-size: 70px;  
 font-family: verdana;
 margin-top: 190px;
 margin-left: 6em;
}
.lorem {
    margin-left: 14em;
    font-size: 30px;
    margin-top: 20px;
}
.o {
    border: 3px solid grey;
    width: 30px;
    margin-top: -130px;
    margin-bottom: 110px;
    margin-left: 2.3em;
    font-size: 30px;
    padding: 25px;
    border-radius: 40px;
}
.buy {
    margin-left: 17em;
    background-color: indianred;
    border: hidden;
    padding: 20px 60px;
    font-size: 25px;
    animation: buy 2s;
    position: absolute;
   bottom: -9em;
}
@keyframes buy {
    0% {
        bottom: -400%;
    }
    100% {
       top: (0);
    }
}
.boot {
    position: absolute;
    margin-top: -21em;
    height: 40em;
    margin-left: 67em;
    position: absolute;
    animation: boot 2s ;
    bottom: 0;
}
@keyframes boot {
    0% {
        bottom: -200%;
    }
    100% {
       top: (0);
    }
}
section {
    position: relative;
}
.more {
    background-color: white;
    color: indianred;
    margin-left: 28em;
    padding: 20px 60px;
    font-size: 25px;
    animation: more 2s;
    position: absolute;
   bottom: -9em;
}
@keyframes more {
    0% {
        bottom: -400%;
    }
    100% {
       top: (0%);
    }
}
h2 {
    margin-top: 130px;
    margin-left: 1.5em;
    font-family: verdana;
    font-size: 50px;
}
.our {
    margin-left: 2.5em;
    font-size: 30px;
    color: black;
}
.first {
    margin-bottom: -10px;
    margin-left: 5em;
    border: 4px solid white;
    box-shadow: 0px 0px 10px 10px whitesmoke;
    margin-top: 50px;
    padding: 90px;
    width: 700px;
    padding-left: 60px;
    padding-bottom: 10em;
    padding-right: 10px;
    position: relative;
}
.second {
    box-shadow: 0px 0px 5px 5px whitesmoke;
    margin-top: -670px;
    margin-left: 900px;
    position: relative;
    width: 400px;
    padding: 90px;
    padding-left: 300px;
    padding-bottom: 10em;
    height: 470px;
}
.price1 {
    color: black;
    font-size: 40px;
    margin-top: -130px;
    position: relative;
    margin-left: 200px;
}
.price1::first-line {
    text-decoration: underline;
}
b {
    font-size: 40px;
    color: indianred;
    margin-left: 30px;
}
.firststar {
    position: absolute;
    margin-left: 210px;
    height: 20px;
}
.secondstar {
    position:absolute;
    margin-left: 240px;
    height: 20px;
}
.thirdstar {
    position: absolute;
    margin-left: 270px;
    height: 20px;
}
.forthstar {
    position: absolute;
    margin-left: 310px;
    height: 20px;
    margin-top: -0px;
}
.fifthstar {
    position: absolute;
    margin-left: 340px;
    height: 20px;
}
.price2 {
    margin-left: 1400px;
    margin-top: -90px;
    color: black;
    font-size: 40px;
    text-decoration: underline;
}
.none {
    text-decoration: none;
    margin-left: 1430px;
}
.more1 {
    color: white;
    font-size: 20px;
    border: 1px solid black;
    border-style: hidden;
    margin-left: 4em;
    background-color: indianred;
    padding: 20px 60px;
}
.quality {
    margin-bottom: 50px;
}
.sneakers {
    color: black;
    margin-top: 60px;
    font-size: 40px;
    margin-left: 80px;
}
.joging {
    margin-top: 170px;
    background-color: lightgrey;
    margin-left: 70px;
    position: relative;
margin-right: 70px;
}
.jog {
    height: 40em;
    margin-top: 60px;
    margin-left: 80px;
    margin-bottom: 90px;
}
aside {
    float: right;
font-size: 90px;    
font-family: verdana;
margin-right: 300px;
margin-top: 60px;
}
.l {
   color: indianred;
   margin-bottom: 100px; 
}
.lower {
    color: white;
    border: 1px solid black;
    border-style: hidden;
    margin-left: 140px;
    background-color: indianred;
    padding: 20px 60px;
    font-size: 20px;
    position: absolute;
    top: 580px;
}
.grid {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-column-gap: 60px;
    grid-row-gap: 40px;
    padding: 10px;
    position: relative;
    padding-left: 170px;
    background-color: indianred;
    margin-top: 50px;
    
}
.griditem {
   background-color: white;
}
.g {
    margin-left: 130px;
    margin-top: 70px;
    padding: 50px;
}
.grid1 {
    color: black;
    position: absolute;
    margin-top: -880px;
    margin-left: 190px;
    font-size: 30px;
}
.grid2 {
    color: black;
    position: absolute;
    margin-top: -880px;
    margin-left: 730px;
    float: right;
    font-size: 30px;
}
.grid3 {
    color: black;
    position: absolute;
    margin-top: -880px;
    margin-left: 1300px;
    font-size: 30px;
}
.grid4 {
    color: black;
    position: absolute;
    margin-top: -480px;
    margin-left: 190px;
    font-size: 30px;
}
.grid5 {
    color: black;
    position: absolute;
    margin-top: -480px;
    margin-left: 730px;
    font-size: 30px;
}
.grid6 {
    color: black;
    position: absolute;
    margin-top: -480px;
    margin-left: 1300px;
    font-size: 30px;
}
.pricetag1 {
    color: indianred;
    position: absolute;
    margin-top: -640px;
    margin-left: 390px;
    font-size: 60px;
}
.pricetag2 {
    color: indianred;
    position: absolute;
    margin-top: -640px;
    margin-left: 910px;
    font-size: 60px;
}
.pricetag3 {
    color: indianred;
    position: absolute;
    margin-top: -640px;
    margin-left: 1500px;
    font-size: 60px;
}
.pricetag4 {
    color: indianred;
    position: absolute;
    margin-top: -230px;
    margin-left: 390px;
    font-size: 60px;
}
.pricetag5 {
    color: indianred;
    position: absolute;
    margin-top: -230px;
    margin-left: 910px;
    font-size: 60px;
}
.pricetag6 {
    color: indianred;
    position: absolute;
    margin-top: -230px;
    margin-left: 1500px;
    font-size: 60px;
}
.now {
    color: white;
    background-color: black;
    width: 150px;
    font-size: 30px;
    padding: 20px 40px;
    margin-left: 700px;
    margin-bottom: 50px;
}
.section2 {
  margin-top: 160px;  
}
input {
    padding: 20px 60px;
    font-size: 30px;
    border: 30px solid black;
    margin-left: 120px;
}
.message {
    padding: 90px 60px;
    border-bottom: 120px solid black;
    font-size: 30px;
    margin-left: 120px;
    position: relative;
}
.shoerack {
    float: right;
    margin-top: -780px;
    margin-right: 30px;
    height: 40em;
}
button {
    position: absolute;
    margin-top: -80px;
    font-size: 25px;
    margin-left: 300px;
    padding: 20px 65px;
}
footer {
    background-color: black;
    margin-top: 130px;
}
.footer {
    margin-left: 80px;
}
.companylogo {
    margin-right: 30px;
    width: 200px;
}
.phonelogo {
    margin-right: 140px;
}
.emaillogo {
    margin-right: 240px;
}
.facebooklogo {
    margin-right: 60px;
}
.twitterlogo {
    margin-right: 60px;
}
.inlogo {
    margin-right: 60px;
}
.company {
    color: white;
    margin-top: -200px;
    margin-left: 80px;
    font-size: 25px;
}
.table {
margin-left: 340px;
margin-top: -29px;
font-size: 25px;
}
.gaccount {
    margin-left: 520px;
    margin-top: -50px;
}
.companyadd {
    margin-left: 400px;
    margin-top: 70px;
    font-size: 35px;
}
.map {
    margin-top: 30px;
    margin-left: 400px;
}
pre {
   color: white;
   margin-left: 280px;
   margin-top: -29px;
   font-size: 30px;
}